.hero-section {
  background-color: var(--hero-bg);
  padding: 200px 0;
  text-align: center;
  background-image: url('../images/hero-img-bg.jpg');

  .container {
    @include displayFlex(column);
    gap: 30px;
  }
}

.hero-section__title {
  color: var(--white-color);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
}

.hero-section__button {
  background-color: var(--button-color);
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 20px;
  width: fit-content;
  @include bordered(var(--button-color));
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--logo-and-hover-color);
  }
}